.card {
    height: 150px;
    color: white;
    background: linear-gradient(135deg, rgba(0,0,0,0.8) 0%, rgba(0,0,0,0.6) 50%),url('https://images.unsplash.com/photo-1525547719571-a2d4ac8945e2');
    background-size: cover;
    position: relative;
}
.card-category {
    position: absolute;
    top: 10px;
    left: 10px;
}
.card-category {
    position: absolute;
    top: 10px;
    left: 10px;
}

.card-description {
    position: absolute;
    bottom: 10px;
    left: 10px;
}

.card-image {
    position: absolute;
    top: 10px;
    right: 10px;
}